/* Create Team/Player/Fan Page */

.create-team{}

.team-logo{
	text-align: center;
	margin-bottom: 1rem;
}

.team-logo h1{
	font-size: 1rem;
	margin: 1rem 0;
}

#uploadLogo{
	margin: 0 auto;
	border: none;
}

.create-Acc-Form{
	padding: 1rem 0;
}
