/* Global classes ******************************* */
html {
	margin: 0;
	padding: 0;
	font-size: 12pt;
	height: 100%;
	box-sizing: border-box;
}

body{
	margin: 0;
	min-height: 100%;
	position: relative;
	padding-bottom: 20px;
	box-sizing: inherit;	
}

*, *:before, *:after{
	box-sizing: border-box;
}

.no_margin{
	margin: 0;
}

.font_xl{
	font-size: 2rem;
}

.font_xxl{
	font-size: 3rem;
}

.text_align_center{
	text-align: center;
}

.margin_center{
	margin: 0 auto;
}

.inline_block{
	display: inline-block;
}

.block{
	display: block;
}


.container{
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	padding-top: 1rem;
}

form{
	max-width: 350px;
	margin: 0 auto;
	text-align: center;
}

input {
	padding-left: 5%;
	border: 1.5px solid grey;
	height: 1.5rem;
	width: 100%;
	margin: .5rem 0 ;
	max-width: 350px;
	display: block;

}

.large_input{
	height: 3rem;
	width: 95%;
	padding-left: 5%;
	font-size: 1.5rem;
}

.settings-bar {
	height: 3rem;
}

.settings-bar img{
	padding: 1rem 1rem 0 0;
	float: right;
	width: 3rem;
}


.contain{
	min-height: 100%;
	position: relative;
}

.body {
	padding-bottom: 60px;
}

.bottom-logo{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: inline-block;
	text-align: center;
	background-color: white;
}

.bottom-logo > *{
	vertical-align: middle;
	margin: 0;
	font-size: 1em;
}

.bottom-logo > img{
	width: 20px;
}

.large_button{
	text-decoration: none;
	text-align: center;
}

.large_button p{
	background-color: blue;
	color: white;
	font-size: 12pt;
	padding: 1em;
	transition: transform .5s;
}


.button{
	text-decoration: none;
}

.button p{
	background-color: blue;
	color: white;
	font-size: 12pt;
	width: 200px;
	margin: 0 auto;
}
