/* players page*/

#returnToPlayers-button{
	margin: 1rem;
	padding: 1rem;
	background-color: blue;
	color: white;
}

#returnToPlayers-button:hover{
	background-color: darkblue;
	cursor: pointer;
}

figure.player-card{
	margin-left:0;
	margin-right: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
}

figure.player-card:hover{
	background-color: darkblue;
	cursor: pointer;
}

figcaption {
	margin-left: 1rem;
	text-align: left; 
}

figcaption button{
	margin-left: 1rem;
}

figcaption:hover{
	background-color: blue;
	cursor: default;
}

.player-card {
	background-color: blue;
	padding: .5rem;
	box-sizing: border-box;
}

.player-card:first-child{
	margin-top: 0;
}

.player-card p{
	margin:0;
	text-align: left;
	color: white;
	padding-left: 1rem;
}

.player-card span{
	color: white;
}

.player-card img{
	background-color: white;
	width: auto;
	height: 75px;
}
