/* Schedule */

.schedule{
	width: 90%;
}

.schedule_container .large_button p:first-child{
	margin-top: 0;
}

#returnToSchedule-button{
	padding: 1rem;
	background-color: blue;
	color: white;
	margin-left: 2rem;
}

#returnToSchedule-button:hover{
	background-color: darkblue;
	cursor: pointer;
}